fastapi
uvicorn
openai
langchain
langchain-chroma
langchain-community
langchain-google-genai
langchain-huggingface
langgraph
pinecone-client
redis
pydantic
python-dotenv
sse-starlette
google-genai
chromadb
pypdf
python-multipart
numpy<2
torch==2.2.2
transformers<5
sentence-transformers<3